$myblue: #58B7FF;

/*
@font-face {
  font-family: 'iconfont';  !* project id 427952 *!
  src: url('//at.alicdn.com/t/font_427952_ehzk6fglbzjdzpvi.eot');
  src: url('//at.alicdn.com/t/font_427952_ehzk6fglbzjdzpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_427952_ehzk6fglbzjdzpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_427952_ehzk6fglbzjdzpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_427952_ehzk6fglbzjdzpvi.svg#iconfont') format('svg');
}*/
